.table{
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}
.table__header--th{
    border: 1px solid #000;
    padding: 5px 7px;
}
.table__body--td{
    border: 1px solid #000;
    padding: 5px 7px;
}
.table-wrapper{
    margin: 0 auto;
    margin-top: 20px;
    width: 900px;
    height: 450px;
    overflow: auto;
}
.table__body--btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 10px;

}
.table__body--count-wrapper{
    display: flex;
    align-items: center;
}
.count{
    width: 70px;
}